* {
  box-sizing: border-box;
}

body {
  font-family: Lato;
  height: 97vh;
  /*width: 100%;*/

}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px 40px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: #fefefe;
  justify-content: center;
  align-items: center;
}

form > h1 {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: #222;
  letter-spacing: 2px;
}


label {
  margin-bottom: 0.5em;
  color: #444;
  font-weight: lighter;
}

input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
input, select {
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #d6d1d5;
  margin-top: 5px;
}
select {
  display: block;
  width: 100%;
  height: 40px;
}
input[type="checkbox"] {
  display: inline-block;
  margin-top: 2em;
  margin-right: 10px;
}

button {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 0.5em;
  padding: 	0.938em;
  border: none;
  border-radius: 4px;
  background-color: #2b2b2b;
  color: #fefefe;
}
button:hover {
  background-color: #4A4E69;
  color: #fefefe;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
div.message{
  padding: 10px;
  background: #ffefef;
  border: 1px solid green;
  color: green;
  border-radius: 4px;
  margin: 20px 0;
  justify-content: center;
}
.submit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.workout-details {
  background: #ffffff;
  width: 30%;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}
.workout-details2 {
  background: #ffffff;
  width: 30%;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 5px;
  font-size: 0.9em;
  color: #555;
}
.span-delete {
  position: absolute;
  top: 60px;
  background-color: #2b2b2b;
  border-radius: 5px;

  right: 1px;
  cursor: pointer;
  padding: 6px;
  margin: 5px;
  color: #ffffff;
}
.span-delete:hover{
  position: absolute;
  background-color: #4A4E69;
  color: #f80f0f;
  box-shadow: 4px 4px 3px #1a1818;

}

.center
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

}
.right
{
  position: absolute;
  top: 15px;
  right: 50px;
  margin-top: 5%;
  margin-right: 5%;

}
.reports-left
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
  margin-left: 5%;
}
